* { 
    box-sizing: border-box;
}

body { 
    background: url('./underwater-background.jpg') no-repeat center center/cover;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
}

.bubbles-container { 
    display: flex;
    flex-direction: column;
    position: absolute; 
    bottom: 270px;
    left: 190px; 
} 

.starfish-container { 
    display: flex;
    /* flex-direction: column; */
    position: absolute; 
    bottom: 7px;
    left: 170px; 
} 

.fish-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    perspective: 1000px;
    transition: 0.3s ease;
    /* top: 200px; */
  }

.fish-container > img { 
    transform: scale(0.5, 0.5);
}

/* .fish-container > img { 
    transition: 2s;
    transform: translateX(-200px) scale(0.5, 0.5);
} */

.starfish-container > img { 
    transition: 8s;
    transform: translateX(400px) rotate(360deg)
}

.fish-container > img { 
    transition: 5s;
    transform: translateX(-200px) scale(0.5, 0.5);
}


.bubbles-container > img { 
    /* top: 130px; */
    transition: 9s;
    transform: translateY(-600px) scale(0.9, 0.9)
}